.modal {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    font-family: 'Rubik', sans-serif;
}

.card {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 85%;
    width: 35%;

    padding: 40px 60px;

    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 80%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
}

.buttons button {
    width: 50%;
    height: 45px;
}

.active-income {
    background-color: #3A9FF1;
}

.active-outcome {
    background-color: #FF576B;
}

.inactive {
    background-color: #B9B9B9;
}

.btn-confirm button {
    all: unset;

    margin-left: 20%;
    width: 60%;
    height: 57px;

    color: #FFFFFF;
    background-color: #7978D9;

    border-radius: 5px;

    text-align: center;

    cursor: pointer;
}

.btn-confirm button:hover {
    transform: scale(1.01);

    text-decoration: underline;

    opacity: 0.5;
}