.up {
    background-image: url('../../assets/background.svg');
    background-size: cover;

    font-family: 'Rubik';
    color: #FFFFFF;

    width: 100vw;
    height: 100vh;
}

.up-section {
    margin-top: 40px;
}

.up-card {
    width: 480px;
    height: auto;

    background-color: #FFFFFF;
    color: #484848;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up-card h4 {
    margin-top: 40px;

    font-weight: 500;
    font-size: 25px;
    line-height: 33px;

    color: #7978D9;
}

.up-card form {
    margin-top: 30px;
}

.up-card input {
    height: 45px;

    margin-bottom: 25px;
}

.sign {
    margin-top: 25px;
    margin-bottom: 12px;

    height: 50px;
}

.existing-user {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    margin-bottom: 47px;

    cursor: pointer;

    color: #7B61FF;
}

.existing-user:hover {
    text-decoration: underline;
}